:root,
[data-md-color-scheme="default"] {
    --md-code-hl-variable-color: #3f104a;
}

:root,
[data-md-color-scheme="slate"] {
    --md-code-hl-variable-color: #dc91ed;
}

html {
    hyphens: auto;
}

code {
    hyphens: none;
}
